<div class="flex flex-column pb-3">
    <p-button
      label="Selecionar {{ nameItem }}"
      icon="pi pi-plus"
      (onClick)="dialogVisibleChange.emit(true)"
    ></p-button>
    <small
      class="p-error"
      *ngIf="
        control.invalid &&
        control.touched
      "
      >{{ nameItem }} requerido.</small
    >
</div>
<div class="grid w-full m-0 gap-2">
    <div class="col-12 md:col-6 lg:col flex-column px-0 w-full">
      <label class="font-bold">{{ labelIdItem }}</label>
      <input
        pInputText
        [disabled]="true"
        [value]="idItem"
        class="w-full"
      />
    </div>

    <div class="col-12 md:col-6 lg:col flex-column px-0 w-full">
      <label class="font-bold">{{ labelValueItem }}</label>
      <input
        pInputText
        [disabled]="true"
        [value]="valueItem"
        class="w-full"
      />
    </div>

    <div 
      class="col-12 md:col-6 lg:col flex-column px-0 w-full"
      *ngIf="labelValue2Item && value2Item">
      <label class="font-bold">{{ labelValue2Item }}</label>
      <input
        pInputText
        [disabled]="true"
        [value]="value2Item"
        class="w-full"
      />
    </div>
</div>