<div class="flex justify-content-center my-1">
    <h2 class="m-0 text-5xl text-center">Sistema de Gestíon Hospitalaria</h2>
</div>

<div class="flex flex-wrap justify-content-center gap-4 py-3">
    
    <app-boton-navegacion
        routerLink="farmacia"
        icon="bi bi-bandaid"
        label="Farmacia"
      ></app-boton-navegacion>
    
    <app-boton-navegacion
      routerLink="prestaciones"
      icon="bi bi-file-earmark-medical"
      label="Prestaciones"
    ></app-boton-navegacion>

</div>
