<p-dialog
  header="{{ titulo }}"
  [(visible)]="isVisible"
  (onHide)="ocultarDialog()"
  [modal]="true"
  styleClass="p-fluid w-8 overflow-y-scroll" contentStyleClass="max-h-full overflow-visible" 
>
  <div class="grid">
    <div class="col-5">
      <p>
        <strong>Fecha de Registro: </strong>
        {{ movimiento.fechaRegistro | date: "dd/MM/yyyy" }}
      </p>
    </div>
    <div class="col-5">
      <p>
        <strong>Hora:</strong> {{ movimiento.fechaRegistro | date: "H:mm" }}
      </p>
    </div>
  </div>
  <div class="grid">
    <div class="col-4">
      <p>
        <strong>Deposito:</strong> {{ movimiento.idDeposito   }}
      </p>
    </div>

    <div class="col-8">
      <p>
        <strong>Tipo de movimiento:</strong> {{ movimiento.idTipoMovimiento.nombre }}
      </p>
    </div>
  </div>
  <h3>Detalle:</h3>
  <app-detalle-abm [id]="movimiento.idMovimiento"></app-detalle-abm>
</p-dialog>
