<div class="grid justify-content-center">
  <div class="md:col-4">
    <div class="flex justify-content-center my-3">
      <i class="bi bi-person-circle" style="font-size: 10rem"></i>
    </div>
    <div class="flex justify-content-center py-0">
      <h3 class="my-0">{{ this.medico.Especialidad }}</h3>
    </div>
    <div class="flex justify-content-center py-2">
      <h4 class="my-0">{{ this.medico.Cargo }}</h4>
    </div>
  </div>
  <div class="md:col-8">
    <p-tabView>
      <p-tabPanel header="Datos" leftIcon="bi bi-clipboard-data">
        <div class="flex flex-wrap">
          <div class="surface-overlay">
            <p class="text-justify">DNI : {{ persona.dni }}</p>
            <p class="text-justify">CUIL : {{ persona.cuil }}</p>
            <p class="text-justify">telefono : {{ persona.telefono }}</p>
            <p class="text-justify">domicilio : {{ persona.domicilio }}</p>
            <p class="text-justify">Correo Electronico : {{ persona.email }}</p>
            <p class="text-justify">
              Fecha de Nacimiento:
              {{ persona.fechaNacimiento | date: "dd/M/yyyy" }}
            </p>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Atenciones Realizadas" rightIcon="pi pi-search">
        <app-detalle-atenciones-abm [id]="medico.idMedico" [nombre]="'idMedico'"></app-detalle-atenciones-abm>
         </p-tabPanel>
    </p-tabView>
  </div>
</div>
