<!-- Contenido de la pagina -->

<p-table
  #dt
  [value]="comprobantes"
  [rows]="5"
  [paginator]="true"
  [globalFilterFields]="['idComprobante', 'idTipoComprobante']" 
  responsiveLayout="stack"
  [rowHover]="true"
  dataKey="idComprobante"
  [showCurrentPageReport]="false"
  [loading]="loading"
>
  <ng-template pTemplate="caption">
    <div class="grid align-items-center justify-content-between">
      <div class="md:col col-12">
          <div class="flex md:justify-content-start justify-content-center">
              <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="aniadir()"></button> 
          </div>
      </div>
      <div class="md:col col-12">
        <div class="flex md:justify-content-end justify-content-center">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              class="p-inputtext-md"
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Buscar..."
            />
          </span>
        </div>
      </div>
      
    </div>
  </ng-template>
  <!-- tabla -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>ID</th>
      <th>Proveedor</th>
      <th>Fecha de registro</th>
      <th>Sub-Total</th>
      <th *ngIf="idTipoComprobante == 1">Tipo de Factura</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-comprobante let-columns="columns" let-rowIndex="rowIndex">
    <tr>
      <td>
        <span class="p-column-title font-bold">ID</span
        >{{ rowIndex +1 }}
      </td>
      <td>
        <span class="p-column-title font-bold">Nombre de Proveedor</span
        >{{ comprobante.idProveedor.nombre }}
      </td>
      <td>
        <span class="p-column-title font-bold">Fecha</span
        >{{ comprobante.fechaRegistro | date: "dd/MM/yyyy H:mm" }}
      </td>
      <td>
        <span class="p-column-title font-bold">Total</span
        >{{ comprobante.subTotal | currency}}
      </td>
      <td *ngIf="idTipoComprobante == 1" >
        <span class="p-column-title font-bold" >Categoria</span
        >{{ comprobante.categoria }}
      </td>
      
      <button
        pButton
        pRipple
        tooltipPosition="top"
        pTooltip="Ver Detalle"
        icon="pi pi-search"
        class="p-button-rounded p-button-info mr-2"
        (click)="verDetalle(comprobante)"
      ></button>
      <button
        pButton
        pRipple
        pTooltip="Eliminar"
        tooltipPosition="top"
        icon="pi pi-trash"
        class="p-button-rounded p-button-warning mr-2"
        
        
      ></button>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      En total hay {{ comprobantes ? comprobantes.length : 0 }} {{titulo}}
      registrados.
    </div>
  </ng-template>
</p-table>
