<!-- Contenido de la pagina -->

<p-table
  #dt
  [value]="comprobantes"
  [rows]="5"
  [paginator]="true"
  [globalFilterFields]="['idComprobante', 'idTipoComprobante']" 
  responsiveLayout="stack"
  [rowHover]="true"
  dataKey="idComprobante"
  [showCurrentPageReport]="false"
  [loading]="loading"
>
  <ng-template pTemplate="caption">
    <div class="grid align-items-center justify-content-between">
      <div class="md:col col-12">
          <div class="flex md:justify-content-start justify-content-center">
              <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="aniadir()"></button> 
          </div>
      </div>
      <!-- <div class="md:col col-12">
        <div class="flex md:justify-content-end justify-content-center">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              class="p-inputtext-md"
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Buscar..."
            />
          </span>
        </div>
      </div> -->
      
    </div>
  </ng-template>
  <!-- tabla -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <!-- <th>ID</th> -->
      <th *ngIf="!isComprobanteEntrada">Proveedor</th>
      <th *ngIf="isComprobanteEntrada">ObraSocial</th>
      <!-- <th>Fecha de Registro</th> -->
      <th>Fecha de {{titulo}}</th>
      <th>Fecha de Vencimiento</th>
      <th>Total</th>
      <th>Saldo</th>
      <th *ngIf="idTipoComprobante === 1 || idTipoComprobante === 5">Tipo de Factura</th>
      <th *ngIf="idTipoComprobante === 1 || idTipoComprobante === 5">Nro. de Factura</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-comprobante let-columns="columns" let-rowIndex="rowIndex">
    <tr>
      <!-- <td>
        <span class="p-column-title font-bold">ID</span
        >{{ rowIndex +1 }}
      </td> -->
      <td *ngIf="!isComprobanteEntrada">
        <span class="p-column-title font-bold">Nombre de Proveedor</span
        >{{ comprobante.idProveedor.nombre }}
      </td>
      <td *ngIf="isComprobanteEntrada">
        <span class="p-column-title font-bold">Obra Social</span
        >{{ comprobante.idObraSocial.nombre }}
      </td>
      <!-- <td>
        <span class="p-column-title font-bold">Fecha de Registro</span
        >{{ comprobante.fechaRegistro | date: "dd/MM/yyyy H:mm" }}
      </td> -->
      <td>
        <span class="p-column-title font-bold">Fecha de {{titulo}}</span
        >{{ comprobante.fechaComprobante | date: "dd/MM/yyyy" }}
      </td>
      <td>
        <span class="p-column-title font-bold">Fecha de Vencimiento</span
        >{{ comprobante.fechaVencimiento | date: "dd/MM/yyyy" }}
      </td>
      <td>
        <span class="p-column-title font-bold">Total</span
        >{{ comprobante.subTotal | currency}}
      </td>
      <td>
        <span class="p-column-title font-bold">Saldo</span
        >{{ comprobante.saldo | currency}}
      </td>
      <td *ngIf="idTipoComprobante === 1 || idTipoComprobante === 5" >
        <span class="p-column-title font-bold" >Categoria</span
        >{{ comprobante.categoria }}
      </td>
      <td *ngIf="idTipoComprobante === 1 || idTipoComprobante === 5" >
        <span class="p-column-title font-bold" >Número</span
        >{{ comprobante.numero }}
      </td>
      <td>
        <span class="p-column-title font-bold" >Acciones</span>
        <div class="flex">

          <button
            pButton
            pRipple
            tooltipPosition="top"
            pTooltip="Ver Detalle"
            icon="pi pi-search"
            class="p-button-rounded p-button-info mr-2"
            (click)="verDetalle(comprobante)"
          ></button>
          <button
            pButton
            pRipple
            pTooltip="Eliminar"
            tooltipPosition="top"
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning mr-2"
            (click)="eliminar(comprobante)"
          ></button>
        </div>
      </td>
      
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      En total hay {{ comprobantes ? comprobantes.length : 0 }} {{titulo}}
      registrados.
    </div>
  </ng-template>
</p-table>
