/* :host >>> .p-datepicker  {
    height: unset;
    width: 5px;
} */
/* ::ng-deep ng-trigger ng-trigger-overlayAnimation ng-tns-c64-7 w-5rem p-datepicker p-component p-datepicker-touch-ui ng-star-inserteng-trigger ng-trigger-overlayAnimation ng-tns-c64-7 w-5rem p-datepicker p-component p-datepicker-touch-ui ng-star-inserted {
    /* height: unset; 
    min-width: 40vw;
} */
