<div class="grid">
  <div class="col">
    <p>
      <strong>Numero de comprobante:</strong> {{ comprobante.idComprobante }}
    </p>
    <p *ngIf="!isEntrada">
      <strong>Proveedor:</strong> {{ comprobante.idProveedor.nombre }}
    </p>
    <p *ngIf="isEntrada">
      <strong>Obra Social:</strong> {{ comprobante.idObraSocial.nombre }}
    </p>
    <p>
      <strong>Fecha de Registro:</strong>
      {{ comprobante.fechaRegistro | date: "dd/MM/yyyy H:mm" }}
    </p>
    <p>
      <strong>Fecha de {{ comprobante.idTipoComprobante.nombre }}:</strong>
      {{ comprobante.fechaComprobante | date: "dd/MM/yyyy" }}
    </p>
  </div>
  <div class="col">
    
    <p>
      <strong>Fecha de Vencimiento:</strong>
      {{ comprobante.fechaVencimiento | date: "dd/MM/yyyy" }}
    </p>
    <p *ngIf="comprobante.idTipoComprobante.nombre === 'Factura'">
      <strong>Nro. de Factura:</strong>
      {{ comprobante.numero }}
    </p>
    <p *ngIf="comprobante.idTipoComprobante.nombre === 'Factura'">
      <strong>Categoria:</strong>
      {{ comprobante.categoria }}
    </p>
  </div>
</div>
<h3>Detalle:</h3>

<app-articulo-comprobante-abm
  *ngIf="!isEntrada"
  [idComprobante]="comprobante.idComprobante"
></app-articulo-comprobante-abm>


<app-detalle-comprobante-entrada
  *ngIf="isEntrada"
  [idComprobante]="comprobante.idComprobante"
></app-detalle-comprobante-entrada>


<div class="flex justify-content-between">
  <h3 *ngIf="comprobante.idTipoComprobante.nombre === 'Factura'">Saldo: {{ comprobante.saldo | currency }}</h3>
  <h3>Total: {{ comprobante.subTotal | currency }}</h3>
</div>