<p-table
  #dt
  [value]="prestaciones"
  [rows]="5"
  [paginator]="true"
  responsiveLayout="stack"
  [rowHover]="true"
  dataKey="idDetalle"
  [showCurrentPageReport]="false"
  [loading]="cargando"
>
  <!-- tabla -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Codigo de Prestación</th>
      <th>Nombre</th>
      <th>Precio</th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-prestacion
    let-rowIndex="rowIndex"
    let-columns="columns"
  >
    <tr></tr>
    <tr>
      <td>
        <span class="p-column-title font-bold">Codigo de Prestación</span
        >{{ prestacion.codigoPrestacion }}
      </td>
      <td>
        <span class="p-column-title font-bold">Nombre</span
        >{{ prestacion.nombrePrestacion }}
      </td>
      <td>
        <span class="p-column-title font-bold">Precio</span
        >{{ prestacion.precioPrestacion | currency }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
        Total : {{total | currency}}
    </div>
</ng-template>
</p-table>
