<p-table
  #dt
  [value]="detalles"
  [rows]="5"
  [paginator]="true"
  responsiveLayout="stack"
  [rowHover]="true"
  dataKey="idDetalle"
  [showCurrentPageReport]="false"
  [loading]="cargando"
>
  <!-- tabla -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>#</th>
      <th>Nombre del articulo</th>
      <th>Descripción</th>
      <th>Stock</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-detalle let-rowIndex="rowIndex" let-columns="columns">
    <tr>
      <td><span class="p-column-title font-bold">#</span>{{ rowIndex+1 }}</td>
      <td><span class="p-column-title font-bold">Nombre del artículo</span>{{ detalle.articulo.nombre }}</td>
      <td><span class="p-column-title font-bold">Descripcion</span>{{ detalle.articulo.descripcion }}</td>
      <td><span class="p-column-title font-bold">Stock</span>{{ detalle.stock }}</td>
    </tr>
  </ng-template>
</p-table>
