<!-- Toast sirve para mostrar mensajitos -->
<p-toast></p-toast>
<!-- Llamando al confirmation service puedo mandar un dialog de confirmacion -->
<p-confirmDialog></p-confirmDialog>

<!-- Tarjeta del contenido -->
<div class="surface-ground flex justify-content-center m-0 min-h-screen">
    <div class="w-11 p-3 my-2 mx-4">
        <!-- Contenido de la pagina -->

        <p-table #dt [value]="articulos" [rows]="10" [paginator]="true" [globalFilterFields]="['nombre','categoria.nombre','fechaVencimiento']" responsiveLayout="scroll"
        [(selection)]="articulosSeleccionados" [rowHover]="true" dataKey="id" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="false">
        

        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <div>
                    <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="nuevoArticulo()"></button>
                    <button pButton pRipple label="Borrar" icon="pi pi-trash" class="p-button-danger" (click)="borrarArticulosSeleccionados()" [disabled]="!articulosSeleccionados || !articulosSeleccionados.length"></button>
                </div>

                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText class="p-inputtext-md" type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox pTooltip="Seleccionar Todos" tooltipPosition="top"></p-tableHeaderCheckbox>
                </th>
                <th># Artículo</th>
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th>Descripción</th>
                <th pSortableColumn="categoria.nombre">Categoría<p-sortIcon field="categoria.nombre"></p-sortIcon></th>
                <th pSortableColumn="fechaVencimiento">Fecha de Vencimiento<p-sortIcon field="fechaVencimiento"></p-sortIcon></th>
                <th>Disponibilidad</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-articulo>
            <tr>
                <td>
                    <p-tableCheckbox [value]="articulo" pTooltip="Seleccionar" tooltipPosition="top"></p-tableCheckbox>
                </td>
                <td>{{articulo.id}}</td>
                <td>{{articulo.nombre}}</td>
                <td>{{articulo.descripcion}}</td>
                <td>{{articulo.categoria.nombre}}</td>
                <td>{{articulo.fechaVencimiento!.toLocaleDateString()}}</td>
                <td><p-badge value="{{buscarLabelEstado(articulo.estadoStock)}}" severity="{{buscarSeverityEstado(articulo.estadoStock)}}" size="large"></p-badge></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editarArticulo(articulo)"
                        pTooltip="Editar" tooltipPosition="top"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarArticulo(articulo)"
                        pTooltip="Eliminar" tooltipPosition="top"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{articulos ? articulos.length : 0 }} articulos.
            </div>
        </ng-template>
    </p-table>

        <!-- Contenido de la pagina -->
    </div>
</div>
<!-- Tarjeta del contenido -->


<p-dialog #dialog header="Detalles del Artículo" [(visible)]="articuloDialog" (onHide)="ocultarDialog()" [modal]="true" styleClass="p-fluid w-3"
        contentStyleClass="overflow-visible">
    
    <div class="field">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="nombre" pInputText [(ngModel)]="articulo.nombre" required autofocus />
        <small class="p-error" *ngIf="confirmado && !articulo.nombre">Nombre requerido.</small>
    </div>

    <div class="field">
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" pInputTextarea [(ngModel)]="articulo.descripcion" required rows="3" cols="20"></textarea>
    </div>

    <div class="field">
        <label for="fechaVencimiento">Fecha de Vencimiento (dd-mm-yy)</label>
        <p-calendar inputId="fechaVencimiento" [(ngModel)]="articulo.fechaVencimiento" dateFormat="dd-mm-yy" [showIcon]="true" [required]="true"
             ></p-calendar>
    </div>

    <div class="field">
        <label for="inventoryStatus">Estado de Inventario</label>
        <p-dropdown [(ngModel)]="articulo.estadoStock" inputId="inventoryStatus" [options]="estados" placeholder="Seleccionar">
            <ng-template let-option pTemplate="item">
                <p-badge [value]="option.label" [severity]="option.severity"></p-badge>
            </ng-template>
        </p-dropdown>
    </div>

    <div class="field">
        <label for="inventoryStatus">Categoría</label>
        <p-dropdown [(ngModel)]="articulo.categoria" inputId="categorias" [options]="categorias" placeholder="Seleccionar"
            optionLabel="nombre">
            <ng-template let-option pTemplate="item">
                {{option.nombre}}
            </ng-template>
        </p-dropdown>
    </div>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="ocultarDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="cargarArticulo()"></button>
    </ng-template>
</p-dialog>