<!-- Tarjeta del contenido -->
<!-- Contenido de la pagina -->
    <button pButton pRipple label="Volver" icon="pi pi-arrow-left" 
        class="p-button-link mr-2 p-4 pb-3" [routerLink]="['..']"></button>

        <p-table #dt [value]="articulos" [rows]="10" [paginator]="true"
            [globalFilterFields]="['nombre','fechaVencimiento']" responsiveLayout="stack"
            [(selection)]="articulosSeleccionados" [rowHover]="true" dataKey="id" [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [showCurrentPageReport]="false" [lazy]="true" (onLazyLoad)="onLazyLoad($event)"
            [loading]="cargando" [totalRecords]="cantTotalArticulos">
        

        <ng-template pTemplate="caption">
            <div class="grid">
                <div class="col">
                    <div class="flex align-content-center flex-wrap">
                        
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="nuevoArticulo()"></button>
                        <button pButton pRipple label="Borrar" icon="pi pi-trash" class="p-button-danger" (click)="borrarArticulosSeleccionados()" [disabled]="!articulosSeleccionados || !articulosSeleccionados.length"></button>
                    </div>
                </div>
                
                <div class="col">
                    <div class="flex justify-content-start lg:justify-content-center align-content-center ">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText class="p-inputtext-md" type="text" 
                                (input)="dt.filterGlobal($any($event.target).value, 'contains')" 
                                placeholder="Buscar por nombre..." />
                        </span>
                    </div>
                </div>
                
                <div class="col">
                    <div class="flex justify-content-start lg:justify-content-end align-content-center">
                        <button pButton pRipple label="Agregar Categorías/Unidades" icon="pi pi-plus" class="p-button-info" [routerLink]="['categoriasUnidades']"></button>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox pTooltip="Seleccionar Todos" tooltipPosition="top"></p-tableHeaderCheckbox>
                </th>
                <th>Id. Artículo</th>
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th>Descripción</th>
                <th>Unidad</th>
                <th>Categoría</th>
                <th pSortableColumn="fechaVencimiento">Fecha de Vencimiento<p-sortIcon field="fechaVencimiento"></p-sortIcon></th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-articulo let-columns="columns">
            <tr>
                <td>
                    <span class="p-column-title font-bold">Seleccionar</span>
                    <p-tableCheckbox [value]="articulo" pTooltip="Seleccionar" tooltipPosition="top"></p-tableCheckbox>
                </td>
                <td><span class="p-column-title font-bold">Id. Artículo</span>{{articulo.id}}</td>
                <td><span class="p-column-title font-bold">Nombre</span>{{articulo.nombre}}</td>
                <td><span class="p-column-title font-bold">Descripción</span>{{articulo.descripcion}}</td>
                <td><span class="p-column-title font-bold">Unidad</span>{{articulo.unidad.abreviacion}}</td>
                <td><span class="p-column-title font-bold">Categoría</span>{{articulo.categoria.nombreCategoria}}</td>
                <td><span class="p-column-title font-bold">Fecha de Vencimiento</span>{{articulo.fechaVencimiento!.toLocaleDateString()}}</td>
                <td><span class="p-column-title font-bold">Stock</span>{{articulo.stock}}</td>
                <td>
                    <span class="p-column-title font-bold">Acciones</span>
                    <div>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editarArticulo(articulo)"
                            pTooltip="Editar" tooltipPosition="top"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarArticulo(articulo)"
                            pTooltip="Eliminar" tooltipPosition="top"></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{cantTotalArticulos ? cantTotalArticulos : 0 }} articulos.
            </div>
        </ng-template>
    </p-table>

<!-- Contenido de la pagina -->

<!-- Tarjeta del contenido -->


<p-dialog #dialog header="Detalles del Artículo" [(visible)]="articuloDialog" (onHide)="ocultarDialog()" [modal]="true" 
        styleClass="p-fluid w-30rem overflow-y-scroll"
        contentStyleClass="max-h-full overflow-y-visible">
    
    <form [formGroup]="formArticulo">
        <div class="field">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="nombre" pInputText autofocus 
                placeholder="Nombre del artículo" name="nombre" formControlName="nombre"/>
            <small class="p-error" *ngIf="formArticulo.controls['nombre'].invalid && formArticulo.controls['nombre'].touched">Nombre requerido.</small>
        </div>
    
        <div class="field">
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" pInputTextarea rows="3" cols="20"
                placeholder="Descripción del artículo" name="descripcion" formControlName="descripcion"></textarea>
            <small class="p-error" *ngIf="formArticulo.controls['descripcion'].invalid && formArticulo.controls['descripcion'].touched">Descripción requerida.</small>
        </div>
    
        <div class="field">
            <label for="unidad">Unidad</label>
            <p-dropdown inputId="unidad" [options]="unidades" placeholder="Seleccionar"
                emptyMessage="No hay unidades cargadas" optionLabel="abreviacion"
                name="unidad" formControlName="unidad">
                <ng-template let-option pTemplate="item">
                    {{option.nombre}} ({{option.abreviacion}})
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="formArticulo.controls['unidad'].invalid && formArticulo.controls['unidad'].touched">Unidad requerida.</small>
        </div>
    
        <div class="field">
            <label for="stock">Stock</label>
            <input id="stock" type="number" min="0" pInputText
                placeholder="Cantidad de Stock" name="stock" formControlName="stock"/>
            <small class="p-error" *ngIf="formArticulo.controls['stock'].invalid && formArticulo.controls['stock'].touched">Stock requerido.</small>
        </div>
    
        <div class="field">
            <label for="categorias">Categoría</label>
            <p-dropdown inputId="categorias" [options]="categorias"
                placeholder="Seleccionar" formControlName="categoria"
                optionLabel="nombreCategoria" name="categoria">
                <ng-template let-option pTemplate="item">
                    {{option.nombreCategoria}}
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="formArticulo.controls['categoria'].invalid && formArticulo.controls['categoria'].touched">Categoría requerida.</small>
        </div>
    
        <div class="field">
            <label for="fechaVencimiento">Fecha de Vencimiento (dd-mm-yy)</label>
            <p-calendar inputId="fechaVencimiento" 
                dateFormat="dd-mm-yy" [showIcon]="true" formControlName="fechaVencimiento"
                styleClass="overflow-visible" name="fechaVencimiento"></p-calendar>
            <small class="p-error" *ngIf="formArticulo.controls['fechaVencimiento'].invalid && formArticulo.controls['fechaVencimiento'].touched">Fecha de vencimiento requerida.</small>
        </div>
    </form>

    

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" 
            class="p-button-text" (click)="ocultarDialog()"
            [loading]="confirmado"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" 
            class="p-button-text" (click)="cargarArticulo()"
            [loading]="confirmado"></button>
    </ng-template>
</p-dialog>