<p-toolbar>
    <div class="p-toolbar-group-left">
        <button #btn type="button" pButton icon="pi pi-bars" (click)="menu.toggle($event)"></button>
        <p-slideMenu #menu [model]="items" [popup]="true" [viewportHeight]="250"  ></p-slideMenu>
        <h1 class="mx-3 p-0 my-0">Hospital Materno Infantil</h1>
    </div>
    
    <div class="p-toolbar-group-right">
        <p class="mx-3">¡Bienvenido, Usuario123!</p>
        <p-image src="assets/blank-profile-picture.png" height="40" width="40"></p-image>
    </div>
</p-toolbar>