<div class="flex justify-content-start">

    <div class="p-1 hidden md:block">
        <app-sidebar></app-sidebar>
    </div>

    <p-divider layout="vertical"
        styleClass="w-1rem m-1 hidden md:block"
    ></p-divider>

    <div class="w-12">
        <app-navbar></app-navbar>
        <div class="surface-card flex justify-content-center m-0">
            <div class="w-11 p-0 my-2 mx-4">
                <div class="shadow-4 border-round-lg overflow-hidden surface-section">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

</div>

<p-scrollTop></p-scrollTop>
<p-toast styleClass="w-11 md:w-auto"></p-toast>
<p-confirmDialog></p-confirmDialog>