<div class="flex justify-content-start min-h-screen">

    <!-- <div class="p-1 hidden md:flex md:flex-column h-screen overflow-y-scroll"> -->
        <p-scrollPanel styleClass="p-1 hidden md:block h-screen">
            <app-sidebar></app-sidebar>

        </p-scrollPanel>
    <!-- </div> -->

    <p-divider layout="vertical"
        styleClass="w-1rem m-0 hidden md:block py-2"
    ></p-divider>

    <div class="w-12">
        <app-navbar></app-navbar>
        <div class="surface-card flex justify-content-center m-0">
            <div class="w-11 p-0 my-2 mx-4">
                <div class="shadow-4 border-round-lg overflow-hidden surface-section">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

</div>

<p-scrollTop></p-scrollTop>
<p-toast styleClass="w-11 md:w-auto"></p-toast>
<p-confirmDialog></p-confirmDialog>