<!-- Toast sirve para mostrar mensajitos -->
<p-toast></p-toast>
<!-- Llamando al confirmation service puedo mandar un dialog de confirmacion -->
<p-confirmDialog></p-confirmDialog>

<button pButton pRipple label="Volver" icon="pi pi-arrow-left" 
        class="p-button-link mr-2 p-4 pb-3" [routerLink]="['..']"></button>

<div class="grid flex">
    <div class="col">
        <h3 class="mx-3 p-1 my-0">Plantas</h3>
        <app-planta-abm></app-planta-abm>
    </div>
    <div class="col">
        <h3 class="mx-3 p-1 my-0">Sectores</h3>
        <app-sector-abm></app-sector-abm>
    </div>
</div>