<form
[formGroup]="Form"
class="max-h-full overflow-y-visible p-fluid"
(ngSubmit)="guardar()"
(cancel)="cerrar()"
>
<div class="field">
  <label for="nombre" class="block">Nombre</label>
  <input
    id="nombre"
    type="text"
    pInputText
    placeholder="Nombre"
    formControlName="nombre"
    class="block"
  />
  <small
    class="p-error"
    *ngIf="
      Form.controls['nombre'].invalid && Form.controls['nombre'].touched
    "
    >Nombre requerido.</small
  >
</div>
<div class="field">
  <label for="cuit" class="block">CUIT</label>
  <input
    id="cuit"
    type="text"
    pInputText
    placeholder="cuit"
    formControlName="cuit"
    class="block"
  />
  <small
    class="p-error"
    *ngIf="
      Form.controls['cuit'].invalid && Form.controls['cuit'].touched
    "
    >CUIT requerido.</small
  >
</div>
<div class="field">
  <label for="domicilio" class="block">Domicilio</label>
  <input
    id="domicilio"
    type="domicilio"
    pInputText
    placeholder="Domicilio"
    name="domicilio"
    formControlName="domicilio"
    class="block"
  />
  <small
    class="p-error"
    *ngIf="
    Form.controls['domicilio'].invalid &&
    Form.controls['domicilio'].touched
    "
    >Domicilio requerido.</small
  >
</div>
<div class="field">
  <label for="correo" class="block">Correo</label>
  <input
    id="correo"
    type="correo"
    pInputText
    placeholder="correo"
    name="correo"
    formControlName="correo"
    class="block"
  />
  <small
    class="p-error"
    *ngIf="
    Form.controls['correo'].invalid &&
    Form.controls['correo'].touched
    "
    >Correo requerido.</small
  >
</div>
<div class="field">
  <label for="telefono" class="block">Telefono</label>
  <input
    id="telefono"
    type="telefono"
    pInputText
    placeholder="telefono"
    name="telefono"
    formControlName="telefono"
    class="block"
  />
  <small
    class="p-error"
    *ngIf="
    Form.controls['telefono'].invalid &&
    Form.controls['telefono'].touched
    "
    >Telefono requerido.</small
  >
</div>
<div class="grid">
    <div class="col">
      <button
        pButton
        pRipple
        type="button"
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="cerrar()"
      ></button>
    </div>
    <div class="col">
      <button
        pButton
        type="submit"
        pRipple
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
      ></button>
    </div>
  </div>
</form>

