<div class="field">
    <label 
        for="{{ id }}" 
        class="block font-bold"
    >{{ label }}</label>

    <p-dropdown 
        id="{{ id }}" 
        [options]="options"
        [optionLabel]="optionLabel"
        [optionValue]="optionValue"
        [autoDisplayFirst]="false"
        [formControl]="control"
        styleClass="w-full"
    ></p-dropdown>
    
    <small 
        id="{{ id }}-help" 
        class="p-error block"
        *ngIf="control.invalid 
        && control.touched"
    >{{ labelError }}</small>
</div>