<p-dialog [(visible)]="dialog" (onHide)="ocultarDialog()" [modal]="true"
    header="Transferencia de Artículo"
    styleClass="p-fluid w-30rem"
    contentStyleClass="max-h-full overflow-y-visible">

    <div *ngIf="articulo" class="mb-4">
        <h3 class="m-1">Artículo seleccionado:</h3>
        <ul>
            <li>
                {{articulo.nombre}}
                <small>({{articulo.descripcion}})</small>
            </li>
        </ul>
    </div>
    
    <form [formGroup]="formTransferencia">
        <div class="field">
            <label for="destino">Depósito destino</label>
            <p-multiSelect id="destino" formControlName="destino"
                filterPlaceHolder="Buscar por ID de Depósito..."
                emptyFilterMessage="Ningún deposito con el ID ingresado."
                [options]="destinos" [selectionLimit]="1" optionLabel="idDeposito"
                [lazy]="false" (onLazyLoad)="onLazyLoad($event)"
                [virtualScroll]="true" [virtualScrollItemSize]="5"
                >
                <ng-template pTemplate="item" let-destino>
                    Depósito ID: {{destino.idDeposito}} - Sector: {{destino.idSector}} - Planta: {{destino.idPlanta}}
                </ng-template>
            </p-multiSelect>
            <small id="destino-help" class="p-error block"
                *ngIf="formTransferencia.controls['destino'].invalid
                    && formTransferencia.controls['destino'].touched">
                Selección de depósito requerida.
            </small>
        </div>

        <div class="field">
            <label for="cantidad">Cantidad a transferir</label>
            <input id="cantidad" pInputText type="number" min="1"
                formControlName="cantidad">
            <small id="cantidad-help" class="p-error block"
                *ngIf="formTransferencia.controls['cantidad'].invalid 
                    && formTransferencia.controls['cantidad'].touched">
                Cantidad requerida mayor a 0 y menor al stock disponible.
            </small>
        </div>
        
    </form>

    <!-- <p>{{formTransferencia.getRawValue() | json}}</p> -->

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" 
            class="p-button-text" (click)="ocultarDialog()"
            [loading]="confirmado"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" 
            class="p-button-text" (click)="realizarTransferencia()"
            [loading]="confirmado"></button>
    </ng-template>

</p-dialog>