<p-tabView>
  <p-tabPanel header="Datos" leftIcon="bi bi-clipboard-data">
    <p class="text-justify">DNI: {{ cliente.dniCliente }}</p>
    <p class="text-justify">Correo: {{ cliente.correo }}</p>
    <p class="text-justify">Telefono: {{ cliente.telefono }}</p>
    <p class="text-justify">Domicilio: {{ cliente.domicilio }}</p>
    <p class="text-justify">
      Fecha de Nacimiento: {{ cliente.fechaNacimiento | date: "dd/M/yyyy" }}
    </p>
  </p-tabPanel>
  <p-tabPanel header="Descripción" rightIcon="pi pi-search"> </p-tabPanel>
</p-tabView>
