<!-- Contenido de la pagina -->

<p-table
  #dt
  [value]="movimientos"
  [rows]="5"
  [paginator]="true"
  [globalFilterFields]="['idMovimiento', 'idDepositoFuente', 'idDepositoDestino']"
  responsiveLayout="stack"
  [rowHover]="true"
  dataKey="idMovimiento"
  [showCurrentPageReport]="false"
  
>
  <ng-template pTemplate="caption">

    <div class="flex justify-content-center align-content-center ">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          class="p-inputtext-md"
          type="text"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Buscar..."
        />
      </span>
    </div>
      
  </ng-template>
  <!-- tabla -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>ID</th>
      <th>Deposito Origen</th>
      <th>Deposito Destino</th>
      <th>Fecha de Registro</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-movimiento let-columns="columns">
    <tr>
      <td><span class="p-column-title font-bold">ID</span>{{ movimiento.idMovimiento }}</td>
      <td><span class="p-column-title font-bold">Depósito Origen</span>{{ movimiento.idDepositoFuente }}</td>
      <td><span class="p-column-title font-bold">Depósito Destino</span>{{ movimiento.idDepositoDestino }}</td>
      <td><span class="p-column-title font-bold">Fecha de Registro</span>{{ movimiento.fechaRegistro | date: "dd/MM/yyyy H:mm" }}</td>
      <td><span class="p-column-title font-bold">Acciones</span>
        <button
          pButton
          pRipple
          tooltipPosition="top"
          pTooltip="Ver detalles del movimiento"
          icon="pi pi-search"
          class="p-button-rounded p-button-info mr-2"
          (click)="verDetalle(movimiento)"
        ></button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      En total hay {{ movimientos ? movimientos.length : 0 }} movimientos
      registrados.
    </div>
  </ng-template>
</p-table>
<div *ngIf="isVisible">
  <app-detalle-dialog
    [isVisible]="isVisible"
    [titulo]="titulo"
    [movimiento]="movimientoSeleccionado"
    (ocultar)="isVisible = $event"
  ></app-detalle-dialog>
</div>
