<button pButton pRipple label="Volver" icon="pi pi-arrow-left" 
        class="p-button-link mr-2 p-4 pb-3" [routerLink]="['..']"></button>

<div class="flex justify-content-center my-1">
    <h2 class="m-0 text-5xl">Farmacia</h2>
</div>

<div class="flex flex-wrap justify-content-center gap-4 py-3">
    <p-button routerLink="abmDepositos" styleClass="w-10rem h-10rem flex justify-content-center align-content-center">
        <ng-template pTemplate="content">
            <div class="flex flex-column">
                <i class="bi bi-box-seam text-8xl"></i>
                <p class="mt-2 mb-0 mx-0">Depósitos</p>
            </div>
        </ng-template>
    </p-button>
    <p-button routerLink="abmArticulos" styleClass="w-10rem h-10rem flex justify-content-center align-content-center">
        <ng-template pTemplate="content">
            <div class="flex flex-column">
                <i class="bi bi-boxes text-8xl"></i>
                <p class="mt-2 mb-0 mx-0">Artículos</p>
            </div>
        </ng-template>
    </p-button>
</div>