<button
  pButton
  pRipple
  label="Volver"
  icon="pi pi-arrow-left"
  class="p-button-link mr-2 p-4 pb-3"
  [routerLink]="['..']"
></button>

<div class="flex justify-content-center my-1">
  <h2 class="m-0 text-5xl">Farmacia</h2>
</div>

<div class="flex flex-wrap justify-content-center gap-4 py-3">
  <app-boton-navegacion
    routerLink="depositoFarmacia"
    icon="bi bi-box2"
    label="Depósito de Farmacia"
  ></app-boton-navegacion>

  <app-boton-navegacion
    routerLink="abmArticulos"
    icon="bi bi-boxes"
    label="Artículos"
  ></app-boton-navegacion>

  <app-boton-navegacion
    routerLink="abmDepositos"
    icon="bi bi-box-seam"
    label="Depósitos del Hospital"
  ></app-boton-navegacion>

  <app-boton-navegacion
    routerLink="abmMovimientos"
    icon="bi bi-arrow-down-up"
    label="Movimientos"
  ></app-boton-navegacion>

  <app-boton-navegacion
    routerLink="proveedores"
    icon="bi bi-person-rolodex"
    label="Proveedores"
  ></app-boton-navegacion>

  <app-boton-navegacion
    routerLink="ordenesCompra"
    icon="bi bi-cart"
    label="Ordenes de compra"
  ></app-boton-navegacion>

  <app-boton-navegacion
    routerLink="facturas"
    icon="bi bi-receipt"
    label="Facturas"
  ></app-boton-navegacion>

  <app-boton-navegacion
    routerLink="remitos"
    icon="bi bi-card-heading"
    label="Remitos"
  ></app-boton-navegacion>
  <app-boton-navegacion
  routerLink="pagoComprobantes"
  icon="bi bi-currency-dollar"
  label="Pago"
></app-boton-navegacion>

</div>
