<p-dialog [(visible)]="dialog" (onHide)="ocultarDialog()" [modal]="true"
    header="Nuevo Movimiento"
    styleClass="p-fluid w-11 overflow-auto"
    contentStyleClass="max-h-full overflow-y-visible">
    
    <form [formGroup]="formMovimiento">

        <div class="grid gap-3">

            <div class="field col min-w-max">
                <label class="font-bold" for="tipoMovimiento">Tipo de Movimiento</label>
                <p-dropdown id="tipoMovimiento" [options]="tiposMovimiento"
                    optionLabel="nombre" formControlName="tipoMovimiento"
                    [autoDisplayFirst]="false"
                    (onChange)="tipoSeleccionado()"></p-dropdown>
                <small class="p-error block"
                    *ngIf="
                    formMovimiento.controls['tipoMovimiento'].invalid &&
                    formMovimiento.controls['tipoMovimiento'].touched"
                >Elija un tipo de movimiento</small>
            </div>
    
            <div class="field col min-w-max">
                <label class="font-bold" for="motivo">Motivo</label>
                <input type="text" id="motivo" pInputText formControlName="motivo">
                <small class="p-error block"
                    *ngIf="
                    formMovimiento.controls['motivo'].invalid &&
                    formMovimiento.controls['motivo'].touched"
                >Motivo requerido</small>
            </div>
            
            <div class="field col min-w-max" *ngIf="formMovimiento.controls['deposito'].enabled">
                <label class="font-bold" for="deposito">ID. Deposito Destino</label>
                <div id="deposito" class="flex align-items-center gap-3">
                    <input type="text" pInputText formControlName="deposito" readonly
                        [value]="idDepositoDestino">
                    <p-button icon="pi pi-search" 
                        pTooltip="Seleccionar Depósito" tooltipPosition="top"
                        (onClick)="depositosVisible = true"
                    ></p-button>
                </div>
                
                <small class="p-error block"
                    *ngIf="
                    formMovimiento.controls['deposito'].invalid &&
                    formMovimiento.controls['deposito'].touched"
                >Deposito requerido</small>
            </div>

        </div>

        <input pInputText class="hidden" readonly
            id="articulosValidos" formControlName="articulosValidos" [value]="articulosSeleccionados">


    </form>

    <div *ngIf="mostrarArticulos" class="flex flex-column min-w-full">
        <h4 class="m-0 mb-2 p-0 font-bold">Artículos Seleccionados:</h4>
        
        <small
          class="p-error"
          *ngIf="
            formMovimiento.controls['cantArticulos'].invalid &&
            formMovimiento.controls['cantArticulos'].touched
          "
          >Selección de artículos requerida.</small
        >
        <small
          class="p-error"
          *ngIf="
            formMovimiento.controls['articulosValidos'].invalid &&
            formMovimiento.controls['articulosValidos'].touched
          "
          >Las cantidades de los artículos deben ser positivas.</small
        >
    
        <p-table
          [value]="articulosSeleccionados"
          responsiveLayout="stack"
          dataKey="id"
        >
          <ng-template pTemplate="caption">
            <div class="grid align-items-center justify-content-between">
                <button
                    pButton
                    pRipple
                    label="Agregar"
                    icon="pi pi-plus"
                    class="p-button-success mr-2"
                    (click)="articulosVisible = true"
                  ></button>
            </div>
          </ng-template>
    
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>Id. Artículo</th>
              <th pSortableColumn="nombre">
                Nombre <p-sortIcon field="nombre"></p-sortIcon>
              </th>
              <th>Descripción</th>
              <th>Cantidad en Depósito</th>
              <th>Cantidad</th>
              <th>Acción</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-articulo let-columns="columns">
            <tr>
              <td>
                <span class="p-column-title font-bold">Id. Artículo</span
                >{{ articulo.id }}
              </td>
              <td>
                <span class="p-column-title font-bold">Nombre</span
                >{{ articulo.nombre }}
              </td>
              <td>
                <span class="p-column-title font-bold">Descripción</span
                >{{ articulo.descripcion }}
              </td>
              <td>
                <span class="p-column-title font-bold">Cantidad en Depósito</span
                >{{ articulo.cantidadActual }}
              </td>
              <td>
                <span class="p-column-title font-bold">Cantidad</span>
                <div class="field flex flex-column">
                  <input
                    #inputCant
                    id="cantidad"
                    type="number"
                    pInputText
                    min="0"
                    max="{{ 
                        (formMovimiento.controls['tipoMovimiento'].value!.nombre === 'Entrada') 
                        || (formMovimiento.controls['tipoMovimiento'].value!.nombre === undefined) 
                        ? 1000000 : articulo.cantidadActual }}"
                    oninput="validity.valid||(value='');"
                    placeholder="Cantidad del artículo"
                    [(ngModel)]="articulo.cantidad"
                  />
                  <small
                    class="p-error"
                    *ngIf="!articulo.cantidad && articulo.cantidad <= 0"
                    >Cantidad requerida mayor a 0.</small
                  >
                </div>
              </td>
              <td>
                <span class="p-column-title font-bold">Acción</span>
                <button
                  pButton
                  pRipple
                  tooltipPosition="top"
                  pTooltip="Eliminar"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger mr-2"
                  (click)="quitarArticulo(articulo)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    <p>{{ formMovimiento.value | json }}</p>




    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" 
            class="p-button-text" (click)="ocultarDialog()"
            [loading]="confirmado"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" 
            class="p-button-text" (click)="realizarMovimiento()"
            [loading]="confirmado"></button>
    </ng-template>





</p-dialog>




<p-dialog
  *ngIf="articulosVisible"
  header="Agregar Artículos"
  [(visible)]="articulosVisible"
  [modal]="true"
  styleClass="w-11"
  [dismissableMask]="true"
>
  <app-seleccionar-articulos
    (articuloSeleccionado)="articuloSeleccionado($event)"
    [idDepositoActual]="idDepositoSeleccionado"
  ></app-seleccionar-articulos>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cerrar" icon="pi pi-times" 
            class="p-button-text" (click)="articulosVisible = false"></button>
  </ng-template>
  
</p-dialog>


<p-dialog
  *ngIf="depositosVisible"
  header="Seleccionar Depósito Destino"
  [(visible)]="depositosVisible"
  [modal]="true"
  styleClass="w-12"
  [dismissableMask]="true"
>
  <app-seleccionar-deposito
    (depositoSeleccionado)="depositoSeleccionado($event)"
    [idDepositoActual]="idDepositoSeleccionado"
    
  ></app-seleccionar-deposito>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cerrar" icon="pi pi-times" 
            class="p-button-text" (click)="depositosVisible = false"></button>
  </ng-template>
  
</p-dialog>