<p-dialog
    [modal]="true"
    [blockScroll]="true"
    [(visible)]="dialogVisible"
    (onHide)="ocultarDialog()"
    header="Agregar nueva atención"
    styleClass="w-11 h-full"
>

    <form [formGroup]="formAtencion">

        <div class="grid">
            <app-form-calendar
                class="col-12 md:col-6"
                id="periodo"
                label="Periodo de Atención"
                labelError="Periodo de Atención requerido."
                [control]="formAtencion.controls['periodo']"
                selectionMode="range"
            ></app-form-calendar>
    
            <app-form-dropdown
                class="col-12 md:col-6"
                id="tipoAtencion"
                label="Tipo de Atención"
                labelError="Tipo de Atención requerida."
                [control]="formAtencion.controls['tipoAtencion']"
                [options]="tiposAtencion"
            ></app-form-dropdown>

        </div>

        <div class="grid">
            <app-form-seleccionador
                class="col-12 md:col-6"
                [control]="formAtencion.controls['paciente']"
                [(dialogVisible)]="dialogPacientes"
                nameItem="Paciente"
    
                labelIdItem="DNI del Paciente"
                [idItem]="formAtencion.controls['paciente'].value 
                    ? formAtencion.controls['paciente'].value.pacienteCuil
                    : ''"
    
                labelValueItem="Nombre del Paciente"
                [valueItem]="formAtencion.controls['paciente'].value 
                    ? formAtencion.controls['paciente'].value.pacienteNombre 
                    + ' ' + formAtencion.controls['paciente'].value.pacienteApellido
                    : ''"

                labelValue2Item="Obra Social"
                [value2Item]="formAtencion.controls['paciente'].value 
                    ? formAtencion.controls['paciente'].value.nombreObraSocial
                    : ' '"
            ></app-form-seleccionador>
    
            <app-form-seleccionador
                class="col-12 md:col-6"
                [control]="formAtencion.controls['medico']"
                [(dialogVisible)]="dialogMedicos"
                nameItem="Medico"
    
                labelIdItem="DNI del Medico"
                [idItem]="formAtencion.controls['medico'].value 
                    ? formAtencion.controls['medico'].value.persona.dni 
                    : ''"
    
                labelValueItem="Nombre del Medico"
                [valueItem]="formAtencion.controls['medico'].value 
                    ? formAtencion.controls['medico'].value.persona.nombre 
                    + ' ' + formAtencion.controls['medico'].value.persona.apellido
                    : ''"
            ></app-form-seleccionador>

        </div>

        <div class="grid">

            <app-form-textarea
                class="col-12 md:col-6"
                id="sintomas"
                label="Síntomas del Paciente"
                labelError="Síntomas requeridos."
                [control]="formAtencion.controls['sintomas']"
            ></app-form-textarea>

            <app-form-textarea
                class="col-12 md:col-6"
                id="diagnostico"
                label="Diagnóstico del Paciente"
                labelError="Diagnóstico requerido."
                [control]="formAtencion.controls['diagnostico']"
            ></app-form-textarea>

            <input pInputText class="hidden"
                id="articulos" 
                formControlName="articulos" 
                [value]="articulosSeleccionados">

            <input pInputText class="hidden"
                id="prestaciones" 
                formControlName="prestaciones" 
                [value]="prestacionesSeleccionadas">

        </div>

        <div class="flex flex-column min-w-full">
            <h4 class="m-0 mb-2 p-0 font-bold">Artículos Seleccionados:</h4>
        
            <small
                class="p-error"
                *ngIf="
                    formAtencion.controls['articulos'].invalid &&
                    formAtencion.controls['articulos'].touched
                "
            >Selección de artículos requerida. Las cantidades y precios de los artículos deben ser positivas.</small>
    
            <app-articulos-seleccionados
                [(articulosSeleccionados)]="articulosSeleccionados"
                (seleccionarArticulo)="dialogArticulos = true"
                (quitarArticulo)="quitarArticulo($event)"
                (subtotal)="
                    subtotalArticulos = $event; 
                    formAtencion.controls['articulos'].setValue(articulosSeleccionados)"
            ></app-articulos-seleccionados>

            <div class="flex justify-content-end min-w-full">
                <p class="m-0 mb-2 p-0 font-bold text-lg">
                  Subtotal Artículos: {{ subtotalArticulos | currency }}
                </p>
            </div>

        </div>

        <div class="flex flex-column min-w-full">
            <h4 class="m-0 mb-2 p-0 font-bold">Prestaciones Seleccionadas:</h4>
        
            <small
                class="p-error"
                *ngIf="
                    formAtencion.controls['prestaciones'].invalid &&
                    formAtencion.controls['prestaciones'].touched
                "
            >Selección de prestaciones requerida. Las cantidades y precios de las prestaciones deben ser positivas.</small>
    
            <app-prestaciones-seleccionadas
                [(prestacionesSeleccionadas)]="prestacionesSeleccionadas"
                (seleccionarPrestacion)="dialogPrestaciones = true"
                (quitarPrestacion)="quitarPrestacion($event)"
                (subtotal)="
                    subtotalPrestaciones = $event; 
                    formAtencion.controls['prestaciones'].setValue(prestacionesSeleccionadas)"
            ></app-prestaciones-seleccionadas>

            <div class="flex justify-content-end min-w-full">
                <p class="m-0 mb-2 p-0 font-bold text-lg">
                  Subtotal Prestaciones: {{ subtotalPrestaciones | currency }}
                </p>
            </div>

        </div>

    </form>

    <!-- <p>{{ formAtencion.value | json }}</p> -->

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" 
            class="p-button-text" (click)="ocultarDialog()"
            [loading]="confirmado"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" 
            class="p-button-text" (click)="cargarAtencion()"
            [loading]="confirmado"></button>
    </ng-template>


</p-dialog>


<app-seleccionar-medico
    [(dialogVisible)]="dialogMedicos"
    (medicoSeleccionado)="formAtencion.controls.medico.setValue($event)"
></app-seleccionar-medico>

<app-seleccionar-paciente
    [(dialogVisible)]="dialogPacientes"
    (pacienteSeleccionado)="formAtencion.controls.paciente.setValue($event)"
></app-seleccionar-paciente> 

<p-dialog
  *ngIf="dialogArticulos"
  header="Agregar Artículos"
  [(visible)]="dialogArticulos"
  [modal]="true"
  styleClass="w-12"
  [dismissableMask]="true"
>
  <app-seleccionar-articulos
    [articulosSeleccionados]="articulosSeleccionados"
    (articuloSeleccionado)="articuloSeleccionado($event)"
    (articuloQuitado)="quitarArticulo($event)"  
  ></app-seleccionar-articulos>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cerrar" icon="pi pi-times" 
            class="p-button-text" (click)="dialogArticulos = false"></button>
  </ng-template>
  
</p-dialog>

<p-dialog
  *ngIf="dialogPrestaciones"
  header="Agregar Prestaciones"
  [(visible)]="dialogPrestaciones"
  [modal]="true"
  styleClass="w-12"
  [dismissableMask]="true"
>
  <app-seleccionar-prestacion
    [prestacionesSeleccionadas]="prestacionesSeleccionadas"
    (prestacionSeleccionada)="prestacionSeleccionada($event)"
    (prestacionQuitada)="quitarPrestacion($event)"  
  ></app-seleccionar-prestacion>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cerrar" icon="pi pi-times" 
            class="p-button-text" (click)="dialogPrestaciones = false"></button>
  </ng-template>
  
</p-dialog>