<p-table
  #dt
  [value]="detalles" 
  [rows]="5"
  [paginator]="true"
  responsiveLayout="stack"
  [rowHover]="true"
  dataKey="idDetalle"
  [showCurrentPageReport]="false"
  [loading]="cargando"
>
  <!-- tabla -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Tipo</th>
      <th>Periodo</th>
      <th>Paciente</th>
      <th>Médico</th>
      <th>Subtotal</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-atencion let-rowIndex="rowIndex" let-columns="columns">
    <tr>
      <td><span class="p-column-title font-bold">Tipo</span>{{ atencion.tipoAtencion }}</td>
      <td><span class="p-column-title font-bold">Periodo</span>{{ atencion.fechaInicio }} - {{ atencion.fechaFin }}</td>
      <td><span class="p-column-title font-bold">Paciente</span>{{ atencion.apellidoPaciente }}, {{ atencion.nombrePaciente }}</td>
      <td><span class="p-column-title font-bold">Medico</span>{{ atencion.apellidoMedico }}, {{ atencion.nombreMedico }}</td>
      <td><span class="p-column-title font-bold">Subtotal</span>{{ atencion.subtotal | currency }}</td>
      <td>
        <span class="p-column-title font-bold">Acciones</span>
        <div>
          <button
            pButton
            pRipple
            icon="pi pi-search"
            class="p-button-rounded p-button-info mr-2"
            (click)="verDetalle(atencion)"
            pTooltip="Ver Detalle"
            tooltipPosition="top"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

