<div class="field">
    <label for="{{ id }}" class="block font-bold">{{ label }}</label>
    <p-calendar 
        id="{{ id }}"
        [formControl]="control"
        [touchUI]="true"
        panelStyleClass="min-w-min"
        [selectionMode]="selectionMode"
    ></p-calendar>
    <small 
        id="{{ id }}-help"
        class="p-error block"
        *ngIf="control.invalid 
        && control.touched"
    >{{ labelError }}</small>
    <div *ngIf="control.value">
        <small 
            id="{{ id }}-help"
            class="p-error block"
            *ngIf="selectionMode === 'range'
            && control.value[1] === null"
        >Seleccione un rango de fechas.</small>

    </div>
</div>
